<nav class="navbar navbar-expand-lg bg-white">
  <div class="container">

    <!--
    <a class="navbar-brand text-white" routerLink="/">
      <img src="favicon.ico" width="20" height="20" alt="Logo">
    </a>
    -->

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav w-100">

        <li class="nav-item">
          <a class="nav-link text-black" routerLink="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-black" routerLink="/">Task List</a>
        </li>

        <li class="nav-item me-auto">
          <a class="nav-link text-black" routerLink="/">Task Form</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-black" routerLink="/">Sign Up</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-black" routerLink="/">Log In</a>
        </li>

      </ul>
    </div>

  </div>
</nav>
