<nav class="navbar navbar-expand-lg bg-white">
  <div class="container">

    <!--
    <a class="navbar-brand text-white" routerLink="/">
      <img src="favicon.ico" width="20" height="20" alt="Logo">
    </a>
    -->

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav w-100">

        <li class="nav-item me-2">
          <a
            class="nav-link text-black px-4"
            routerLinkActive="active"
            routerLink="/home">
              Home
          </a>
        </li>

        <li class="nav-item me-2">
          <a
            class="nav-link text-black px-4"
            routerLinkActive="active"
            routerLink="/tasks-board">
              Tasks
            </a>
        </li>

        <li class="nav-item me-auto">
          <a
            class="nav-link text-black px-3"
            routerLinkActive="active"
            routerLink="/add-task">
              Add Task
            </a>
        </li>

        @if (isAuthenticated) {
          <li class="nav-item me-2">
            <a
              class="nav-link text-black px-3"
              routerLinkActive="active"
              (click)="logout()">
                Log Out
            </a>
          </li>
        } @else {
          <li class="nav-item me-2">
            <a
              class="nav-link text-black px-3"
              routerLinkActive="active"
              routerLink="/signup">
                Sign Up
            </a>
          </li>

          <li class="nav-item">
            <a
              class="nav-link text-black px-4"
              routerLinkActive="active"
              routerLink="/login">
                Log In
            </a>
          </li>
        }

      </ul>
    </div>

  </div>
</nav>
