<ul class="nav nav-tabs nav-fill my-3" id="myTab" role="tablist">

  <li class="nav-item" role="presentation">
    <button class="nav-link active"
            id="all-tab"
            data-bs-toggle="tab"
            data-bs-target="#all"
            type="button"
            role="tab"
            (click)="changeTab('all')">
      All
    </button>
  </li>

  <li class="nav-item" role="presentation">
    <button class="nav-link"
            id="in-progress-tab"
            data-bs-toggle="tab"
            data-bs-target="#in-progress"
            type="button"
            role="tab"
            (click)="changeTab('in-progress')">
      In Progress
    </button>
  </li>

  <li class="nav-item" role="presentation">
    <button class="nav-link"
            id="completed-tab"
            data-bs-toggle="tab"
            data-bs-target="#completed"
            type="button"
            role="tab"
            (click)="changeTab('completed')">
      Completed
    </button>
  </li>

</ul>

