@model Employee

<h2>Delete Employee</h2>

<h4>Are you sure you want to delete this?</h4>

<ul>
    <li>@Model.Name</li>
    <li>@Model.Email</li>
    <li>@Model.Dept?.Name</li>
</ul>

<form method="post">
    <input type="hidden" asp-for="EmpID" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-area="HR" asp-controller="Employee" asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>