<h1>Index</h1>

<form action="/User/ShowDetails" method="post">
    <label>
        ID: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" name="id" />
    </label><br />

    <label>
        Name: &nbsp;&nbsp;
        <input type="text" name="name" />
    </label><br />

    <label>
        Image: &nbsp;
        <select name="image">
            <option value="1.jpg">1.jpg</option>
            <option value="2.jpg">2.jpg</option>
            <option value="3.jpg">3.jpg</option>
            <option value="4.jpg">4.jpg</option>
            <option value="5.jpg">5.jpg</option>
            <option value="6.jpg">6.jpg</option>
            <option value="7.jpg">7.jpg</option>
        </select>
    </label><br />

    <br />

    <input type="submit" class="btn btn-primary" value="Create" />
</form>